In [ ]:
#Largest of Three Numbers
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
c = int(input("Enter third number: "))
if a >= b and a >= c:
    print("Largest number is:", a)
elif b >= a and b >= c:
    print("Largest number is:", b)
else:
    print("Largest number is:", c)

Enter first number: 1
Enter second number: 5
Enter third number: 8
Largest number is: 8

In [ ]:
#Even or Odd
num = int(input("Enter a number: "))
if num % 2 == 0:
    print("Even")
else:
    print("Odd")

Enter a number: 11
Odd

In [ ]:
# Reverse a String
s = input("Enter a string: ")
print("Reversed string:", s[::-1])

Enter a string: MRIDULA
Reversed string: ALUDIRM

In [ ]:
# Count Vowels in a String
s = input("Enter a string: ")
vowels = "aeiouAEIOU"
count = sum(1 for char in s if char in vowels)
print("Number of vowels:", count)

Enter a string: MRIDULA
Number of vowels: 3

In [ ]:
#. Simple Calculator
a = float(input("Enter first number: "))
b = float(input("Enter second number: "))
op = input("Enter operation (+, -, *, /): ")

if op == '+':
    print("Result:", a + b)
elif op == '-':
    print("Result:", a - b)
elif op == '*':
    print("Result:", a * b)
elif op == '/':
    if b != 0:
        print("Result:", a / b)
    else:
        print("Cannot divide by zero")
else:
    print("Invalid operator")

Enter first number: 5
Enter second number: 5
Enter operation (+, -, *, /): *
Result: 25.0

In [ ]:
#Prime Number Check
n = int(input("Enter a number: "))
if n < 2:
    print("Not prime")
else:
    for i in range(2, int(n**0.5)+1):
        if n % i == 0:
            print("Not prime")
            break
    else:
        print("Prime number")

Enter a number: 5
Prime number

In [ ]:
# Multiplication Table
n = int(input("Enter a number: "))
for i in range(1, 11):
    print(f"{n} x {i} = {n*i}")

Enter a number: 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [ ]:
#Fibonacci Series
n = int(input("Enter number of terms: "))
a, b = 0, 1
for _ in range(n):
    print(a, end=' ')
    a, b = b, a + b

Enter number of terms: 5
0 1 1 2 3

In [ ]:
#Factorial Using Loop
n = int(input("Enter a number: "))
fact = 1
for i in range(1, n + 1):
    fact *= i
print("Factorial:", fact)

Enter a number: 5
Factorial: 120

In [ ]:
# Palindrome Number Check
n = input("Enter a number: ")
if n == n[::-1]:
    print("Palindrome")
else:
    print("Not a palindrome")

Enter a number: 555
Palindrome

In [ ]:
# Sum of Digits
n = int(input("Enter a number: "))
sum_digits = 0
while n > 0:
    sum_digits += n % 10
    n //= 10
print("Sum of digits:", sum_digits)

Enter a number: 5
Sum of digits: 5

In [ ]:
# Celsius to Fahrenheit
c = float(input("Enter temperature in Celsius: "))
f = (c * 9/5) + 32
print("Fahrenheit:", f)

Enter temperature in Celsius: 55
Fahrenheit: 131.0

In [ ]:
#Max of Two Numbers (Function)
def find_max(a, b):
    return a if a > b else b

x = int(input("Enter first number: "))
y = int(input("Enter second number: "))
print("Maximum is:", find_max(x, y))

Enter first number: 5
Enter second number: 7
Maximum is: 7

In [ ]:
# Average of a List
lst = list(map(int, input("Enter numbers separated by space: ").split()))
print("Average:", sum(lst)/len(lst))

Enter numbers separated by space: 1 5 7 8
Average: 5.25

In [ ]:
#Second Largest in List
lst = list(map(int, input("Enter numbers: ").split()))
unique = list(set(lst))
unique.sort()
if len(unique) >= 2:
    print("Second largest:", unique[-2])
else:
    print("Not enough unique elements")

Enter numbers: 1 5 7
Second largest: 5

In [ ]:
# Count Words in Sentence
sentence = input("Enter a sentence: ")
words = sentence.split()
print("Word count:", len(words))

Enter a sentence: MY NAME IS MRIDULA
Word count: 4

In [ ]:
# Remove Duplicates from List
lst = list(map(int, input("Enter list with duplicates: ").split()))
no_duplicates = list(set(lst))
print("List after removing duplicates:", no_duplicates)

Enter list with duplicates: 1 1 5  7 8 8
List after removing duplicates: [8, 1, 5, 7]

In [ ]:
# Dictionary from Two Lists
keys = input("Enter keys: ").split()
values = input("Enter values: ").split()
d = dict(zip(keys, values))
print("Dictionary:", d)

Enter keys: M
Enter values: 5
Dictionary: {'M': '5'}

In [ ]:
# Sort List Without sort()
lst = list(map(int, input("Enter list elements: ").split()))
for i in range(len(lst)):
    for j in range(i+1, len(lst)):
        if lst[i] > lst[j]:
            lst[i], lst[j] = lst[j], lst[i]
print("Sorted list:", lst)

Enter list elements: 5 7 8 1
Sorted list: [1, 5, 7, 8]

In [ ]:
# Pangram Check
def is_pangram(s):
    alphabet = set('abcdefghijklmnopqrstuvwxyz')
    return alphabet <= set(s.lower())

sentence = input("Enter a sentence: ")
print("Is pangram?", is_pangram(sentence))

Enter a sentence: MY NAME IS MRIDULA
Is pangram? False

In [ ]:
# Check if Input is Number
x = input("Enter input: ")
try:
    float(x)
    print("It is a number")
except ValueError:
    print("Not a number")

Enter input: 5
It is a number

In [ ]:
#  Anagram Check
s1 = input("Enter first string: ").replace(" ", "").lower()
s2 = input("Enter second string: ").replace(" ", "").lower()
if sorted(s1) == sorted(s2):
    print("Anagrams")
else:
    print("Not anagrams")

Enter first string: MRIDULA
Enter second string: MICHAEL KORS
Not anagrams

In [ ]:
# Binary, Octal, Hexadecimal
n = int(input("Enter a number: "))
print("Binary:", bin(n))
print("Octal:", oct(n))
print("Hexadecimal:", hex(n))

Enter a number: 55
Binary: 0b110111
Octal: 0o67
Hexadecimal: 0x37

In [ ]:
# Elements Greater than 50
lst = list(map(int, input("Enter numbers: ").split()))
result = [x for x in lst if x > 50]
print("Elements > 50:", result)

Enter numbers: 55
Elements > 50: [55]

In [ ]:
# Count Uppercase and Lowercase
s = input("Enter a string: ")
upper = sum(1 for c in s if c.isupper())
lower = sum(1 for c in s if c.islower())
print("Uppercase letters:", upper)
print("Lowercase letters:", lower)

Enter a string: MRIDULA
Uppercase letters: 7
Lowercase letters: 0

In [ ]:
# Lambda to Square List Elements
lst = [1, 2, 3, 4, 5]
squares = list(map(lambda x: x**2, lst))
print("Squares:", squares)

Squares: [1, 4, 9, 16, 25]

In [ ]:
# List of Primes from 1 to 100
def primes_up_to_100():
    primes = []
    for num in range(2, 101):
        for i in range(2, int(num**0.5)+1):
            if num % i == 0:
                break
        else:
            primes.append(num)
    return primes

print("Primes:", primes_up_to_100())

Primes: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

In [ ]:
# Simple Calculator using Functions
def add(a, b): return a + b
def sub(a, b): return a - b
def mul(a, b): return a * b
def div(a, b): return a / b if b != 0 else "Cannot divide by zero"

a = float(input("Enter first number: "))
b = float(input("Enter second number: "))
op = input("Enter operator (+, -, *, /): ")

if op == '+': print(add(a, b))
elif op == '-': print(sub(a, b))
elif op == '*': print(mul(a, b))
elif op == '/': print(div(a, b))
else: print("Invalid operator")

Enter first number: 5
Enter second number: 5
Enter operator (+, -, *, /): *
25.0

In [ ]:
#  Recursive Factorial
def factorial(n):
    if n == 0 or n == 1: return 1
    return n * factorial(n - 1)

print("Factorial:", factorial(int(input("Enter number: "))))

Enter number: 5
Factorial: 120

In [ ]:
# Student Management (OOP)
class Student:
    def __init__(self, name, roll):
        self.name = name
        self.roll = roll

    def display(self):
        print("Name:", self.name)
        print("Roll No:", self.roll)

s1 = Student("MRIDULA", 101)
s1.display()

Name: MRIDULA
Roll No: 101

In [ ]:
#  Read File: Count Lines and Words
with open("index.html", "r") as file:
    lines = file.readlines()
    word_count = sum(len(line.split()) for line in lines)
    print("Lines:", len(lines))
    print("Words:", word_count)

FileNotFoundError: [Errno 2] No such file or directory: 'index.html'

In [ ]:
#  Execution Time Decorator
import time

def timer(func):
    def wrapper(*args, **kwargs):
        start = time.time()
        result = func(*args, **kwargs)
        print("Execution Time:", time.time() - start)
        return result
    return wrapper

@timer
def slow_function():
    time.sleep(2)
    print("Finished")

slow_function()

Finished
Execution Time: 2.000192642211914

In [ ]:
# BankAccount Class
class BankAccount:
    def __init__(self, balance=0):
        self.balance = balance

    def deposit(self, amount):
        self.balance += amount

    def withdraw(self, amount):
        if amount <= self.balance:
            self.balance -= amount
        else:
            print("Insufficient balance")

acc = BankAccount()
acc.deposit(1000)
acc.withdraw(500)
print("Final Balance:", acc.balance)

Final Balance: 500

In [ ]:
# Generator for Even Numbers
def even_gen(n):
    for i in range(2, n+1, 2):
        yield i

for num in even_gen(20):
    print(num, end=' ')

2 4 6 8 10 12 14 16 18 20

In [ ]:
# *args and kwargs
def display_args(*args, **kwargs):
    print("Args:", args)
    print("Kwargs:", kwargs)

display_args(1, 2, 3, name="MRIDULA", age=20)

Args: (1, 2, 3)
Kwargs: {'name': 'MRIDULA', 'age': 20}

In [ ]:
# Squares of Even Numbers
squares = [x**2 for x in range(1, 21) if x % 2 == 0]
print("Even Squares:", squares)

Even Squares: [4, 16, 36, 64, 100, 144, 196, 256, 324, 400]

In [ ]:
# Return Only Unique Elements
def unique_elements(lst):
    return list(set(lst))

print(unique_elements([1, 2, 2, 3, 4, 4, 5]))

[1, 2, 3, 4, 5]

In [ ]:
# Merge Two Dictionaries
d1 = {'a': 1, 'b': 2}
d2 = {'b': 3, 'c': 4}
merged = {**d1, **d2}
print("Merged Dictionary:", merged)

Merged Dictionary: {'a': 1, 'b': 3, 'c': 4}

In [ ]:
# Inheritance and Method Override
class Animal:
    def speak(self):
        print("Animal speaks")

class Dog(Animal):
    def speak(self):
        print("Dog barks")

d = Dog()
d.speak()

Dog barks

In [ ]:
# Common Elements in Two Lists
def common_elements(a, b):
    return list(set(a) & set(b))

print(common_elements([1, 2, 3, 4], [3, 4, 5, 6]))

[3, 4]

In [ ]:
#  try-except-finally
try:
    x = int(input("Enter number: "))
    result = 10 / x
except ZeroDivisionError:
    print("Cannot divide by zero")
except ValueError:
    print("Invalid input")
finally:
    print("Try-except-finally executed")

Enter number: 5
Try-except-finally executed

In [ ]:
#  Parse JSON String
import json
data = '{"name": "MRIDULA", "age": 20}'
parsed = json.loads(data)
print("Name:", parsed["name"])
print("Age:", parsed["age"])

Name: MRIDULA
Age: 20

In [ ]:
# Private and Protected Members
class Demo:
    def __init__(self):
        self._protected = "Protected"
        self.__private = "Private"

    def get_private(self):
        return self.__private

d = Demo()
print("Protected:", d._protected)
print("Private:", d.get_private())

Protected: Protected
Private: Private

In [ ]:
# Email Validation
import re
def is_valid_email(email):
    pattern = r'^[\w\.-]+@[\w\.-]+\.\w+$'
    return re.match(pattern, email) is not None

print(is_valid_email("abc@example.com"))

True

In [ ]:
# CSV to List of Dictionaries
import csv

with open("sample.csv", "r") as file:
    reader = csv.DictReader(file)
    data = list(reader)
    print(data)

FileNotFoundError: [Errno 2] No such file or directory: 'sample.csv'

In [ ]:
# Simple Login System
users = {"admin": "1234", "user": "pass"}

username = input("Username: ")
password = input("Password: ")

if users.get(username) == password:
    print("Login successful")
else:
    print("Invalid credentials")

Username: admin
Password: 1234
Login successful

In [ ]:
# Flatten Nested List (Recursion)
def flatten(lst):
    result = []
    for item in lst:
        if isinstance(item, list):
            result.extend(flatten(item))
        else:
            result.append(item)
    return result

nested = [1, [2, [3, 4]], 5]
print("Flattened List:", flatten(nested))

Flattened List: [1, 2, 3, 4, 5]

In [ ]:
# map(), filter(), reduce()
from functools import reduce

lst = [1, 2, 3, 4, 5]

mapped = list(map(lambda x: x * 2, lst))
filtered = list(filter(lambda x: x % 2 == 0, lst))
reduced = reduce(lambda x, y: x + y, lst)

print("Mapped:", mapped)
print("Filtered:", filtered)
print("Reduced Sum:", reduced)

Mapped: [2, 4, 6, 8, 10]
Filtered: [2, 4]
Reduced Sum: 15

In [ ]:
# CLI App for Basic Operations
while True:
    print("\n1. Add  2. Subtract  3. Multiply  4. Exit")
    choice = input("Choose option: ")
    if choice == '4':
        break
    a = float(input("Enter a: "))
    b = float(input("Enter b: "))

    if choice == '1': print("Result:", a + b)
    elif choice == '2': print("Result:", a - b)
    elif choice == '3': print("Result:", a * b)
    else: print("Invalid option")

1. Add  2. Subtract  3. Multiply  4. Exit
Choose option: 3
Enter a: 5
Enter b: 5
Result: 25.0

1. Add  2. Subtract  3. Multiply  4. Exit
Choose option: 4

In [ ]:
#  Mini Quiz
score = 0
questions = {
    "What is the capital of India? ": "Delhi",
    "2 + 2 = ? ": "4",
    "Python is a ___ language? ": "Programming"
}

for q, a in questions.items():
    user_ans = input(q)
    if user_ans.strip().lower() == a.lower():
        score += 1

print("Score:", score, "/", len(questions))

What is the capital of India? Delhi
2 + 2 = ? 4
Python is a ___ language? programming
Score: 3 / 3